<div>
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <fieldset>
      <legend>請登入</legend>

      <div>
        <%= label_tag :account, '帳號: ' %>
        <%= text_field_tag :account, params[:account] %>
      </div>

      <div>
        <%= label_tag :password, '密碼: ' %>
        <%= password_field_tag :password, params[:password] %>
      </div>

      <div>
        <%= submit_tag "登入" %>
      </div>
    </fieldset>
  <% end %>

</div>
