<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :標題 %>
    <%= form.text_field :title, id: :article_title, class: 'form-control', placeholder: '標題' %>
  </div>

  <div class="field form-group">
    <%= form.label :分類 %>
    <%= form.select :category, Article.categories.keys, { include_blank: '選擇一個分類' }, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :內容 %>
    <%= form.hidden_field :content, id: :article_content %>
    <div id="editor-container">
      <%= raw @article.content %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :發表, class: 'btn btn-primary' %>
  </div>
<% end %>
