<% title '管理文章' %>
<p id="notice"><%= notice %></p>

<h3 class="pb-3 mb-4 border-bottom">文章列表</h3>

<%= link_to '發表文章', new_admin_article_path %>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名稱</th>
      <th scope="col">發文者</th>
      <th scope="col">內容</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <th scope="row"><%= article.id %></td>
        <td><%= truncate article.title, length: 15 %></td>
        <td><%= article.user.name %></td>
        <td><%= truncate strip_tags(article.content), length: 35 %></td>
        <td>
          <ul class="list-inline m-0 icon">
            <%= link_to article do %>
              <li class="list-inline-item detail"></li>
            <% end %>

            <%= link_to edit_admin_article_path(article) do %>
              <li class="list-inline-item edit"></li>
            <% end %>

            <%= link_to admin_article_path(article), method: :delete,
                data: { confirm: '是否確定要刪除該文章?' } do %>
              <li class="list-inline-item delete"></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
