<div class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta">
    <%= @article.category %>&nbsp
    <%= I18n.l @article.created_at, format: :long %>&nbsp
    由 <%= @article.user.name %> 發表
  </p>

  <% if defined?(admin_mode) && admin_mode == true %>
    <div class="blog-post-meta">
      <%= link_to '編輯', edit_admin_article_path(@article),
        method: :get,
        class: 'btn btn-light btn-sm' %>
     <%= link_to '刪除', admin_article_path(@article),
       method: :delete, data: { confirm: '確定要刪除這篇文章嗎?'},
        class: 'btn btn-light btn-sm' %>
    </div>
  <% end %>

  <% if false %>
  <div>
    <%= sanitize @article.content,
      tags: %w[strong em b i p code pre tt samp kbd var sub sup dfn cite big small address hr br div span h1 h2 h3 h4 h5 h6 ul ol li dl dt dd abbr acronym a img blockquote del ins],
      attributes: %w[href src width height alt cite datetime title class name xml:lang abbr style] %>
  </div>
  <% end %>

  <div class="blog-post-content">
    <%= raw @article.content %>
  </div>

</div>
