<% title '文章列表' %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 blog-main">
    <h3 class="pb-3 mb-4 border-bottom">文章列表</h3>

    <div class="blog-post">
      <% unless @articles.count > 0 %>
        <h2>目前沒有文章</h2>
      <% end %>
      <% @articles.each do |article| %>
        <div class="mb-2 pb-2 border-bottom">
          <h3 class="blog-post-title">
            <%= link_to article.title, article %>
          </h3>
            <p class="blog-post-meta">
              <%= article.category %>&nbsp
              <%= I18n.l article.created_at, format: :long %>&nbsp
              由 <%= article.user.name %> 發表
            </p>
          <% if article.thumbnail? %>
            <div class="row">
              <div class="col-md"><%= image_tag article.thumbnail.small_thumb, class: 'img-thumbnail' %></div>
              <div class="col-md-9">
                <%= truncate strip_tags(article.content),length: 200 %>
              </div>
            </div>
          <% else %>
            <div>
              <%= truncate strip_tags(article.content),length: 200 %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <aside class="col-md-2 blog-sidebar">

    <% if false %>
    <div class="p-3 mb-3 bg-light rounded">
      <h4>宣傳</h4>
      <p class="mb-0">
        balabala
      </p>
    </div>
    <% end %>

    <div class="p-3">
      <h4>文章分類</h4>
      <ol class="list-unstyled mb-0">
        <li><%= link_to '傳承簡介', articles_path(category: '傳承簡介') %></li>
        <li><%= link_to '世界心精華寶', articles_path(category: '世界心精華寶') %></li>
        <li><%= link_to '中心佈告欄', articles_path(category: '中心佈告欄') %></li>
        <li><%= link_to '活動錦集', articles_path(category: '活動錦集') %></li>
        <li><%= link_to '妙義教授', articles_path(category: '妙義教授') %></li>
        <li><%= link_to '佛學問答', articles_path(category: '佛學問答') %></li>
      </ol>
    </div>

    <% if false %>
    <div class="p-3">
      <h4>日期</h4>
      <ol class="list-unstyled mb-0">
      </ol>
    </div>
    <% end %>

  </aside>
</div>
