<% title '管理員列表' %>
<p id="notice"><%= notice %></p>

<h3 class="pb-3 mb-4 border-bottom">管理員</h3>

<% if admin? %>
  <%= link_to '新增管理員', new_user_path %>
<% end %>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名稱</th>
      <th scope="col">帳號</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.account %></td>
        <td>
          <ul class="list-inline m-0 icon">
            <%= link_to user do %>
              <li class="list-inline-item detail"></li>
            <% end %>

            <%= link_to edit_user_path(user) do %>
              <li class="list-inline-item edit"></li>
            <% end %>

            <%= link_to user_path(user), method: :delete,
                data: { confirm: '是否確定要刪除該文章?' } do %>
              <li class="list-inline-item delete"></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
