<%# <title>仰桑貝瑪貴</title> %>
<%= display_meta_tags site: '仰桑貝瑪貴' %>

<%= csrf_meta_tags %>
<%= display_meta_tags charset: 'utf-8' %>
<%# 以下兩種設定都可以防止使用者做畫面縮放，將畫面鎖在縮放比例 100% %>
<%# https://github.com/twbs/bootlint/wiki/W003 %>
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
