<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_tag' %>
    <%= display_meta_tags noindex: true, nofollow: true %>
  </head>

  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <%= link_to '仰桑貝瑪貴', articles_index_path, class: 'col-md-6' %>
          <% if user_logged_in? %>
            <div>
            <%= link_to '登出', logout_path, method: :delete %>
            </div>
          <% else %>
            <%= link_to '登入', login_path %>
          <% end %>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <%= link_to '文章', articles_path, class: 'p-2 text-muted' %>
          <%= link_to '使用者', users_path, class: 'p-2 text-muted' %>
          <%= link_to '樣板', articles_path, class: 'p-2 text-muted' %>
          <%= link_to '樣板', articles_path, class: 'p-2 text-muted' %>
        </nav>
      </div>

    <main class='container'>
      <%= yield %>
    </main>

    <footer class="blog-footer">
      <%= link_to '回到頂部', articles_index_path %>
    </footer>
  </body>
</html>
