<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_tag' %>
  </head>

  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <%= link_to '仰桑貝瑪貴', articles_index_path, class: 'col-md-6' %>
        </div>
      </header>

      <% if false %>
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <%= link_to '樣板', articles_path, class: 'p-2 text-muted' %>
          <%= link_to '樣板', articles_path, class: 'p-2 text-muted' %>
          <%= link_to '樣板', articles_path, class: 'p-2 text-muted' %>
          <%= link_to '樣板', articles_path, class: 'p-2 text-muted' %>
        </nav>
      </div>
      <% end %>

      <%# commment start %>
      <% if false %>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
          <div class="col-md-6 px-0">
            <h1>祖古&nbsp&nbsp貝瑪仁增仁波切</h1>
            <p>出生於貝瑪貴蓮花莊聖境，許多成就者與瑜珈母皆認證其為札昂林猛咒洲尊者乘願轉世祖古。</p>
            <p>為能宏揚顯密教法，貝瑪仁增 仁波切自三十二歲開始順應因緣遊化各地並應卓千佛學會之邀來到台灣，盡力傳授顯密法教。</p>
            <p>目前為台北虛空法林佛學會住持上師。</p>
          </div>
        </div>
      <% end %>
      <%# comment end %>

      <div>
        <%= image_tag '247309_resize.jpg', class: 'img-fluid' %>
      </div>
    </div>

    <main class='container'>
      <%= yield %>
    </main>

    <footer class="blog-footer">
      <%= link_to '回到頂部', articles_index_path %>
    </footer>
  </body>
</html>
